.field {
  padding: 1%;
}

.field:not(:last-child) {
  border-bottom: 1px solid gray;
}

.field--item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.field--item:hover {
  cursor: pointer;
  font-weight: 600;
}

.field--item__description {
  display: inline;
  vertical-align: middle;
}

.field--item__status {
  display: block;
  padding: 0%;
  margin: 0% 5px;
  height: 30px;
}

.field--option {
  margin-left: auto;
}

.field--option__button {
  position: relative;

  width: 35px;
  height: 35px;
  padding: auto;
  margin: 0px 5px;

  border-radius: 50%;
  background-color: #8b78b0;
}

.field--option__button:hover {
  background-color: #ed7004;
  cursor: pointer;
}

.field--option__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  height: 15px;
}
