.list {
  width: 95%;
  height: auto;
  max-height: 75vh;
  overflow-y: auto;
  margin: 16px auto;
  background-color: #ffffff;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.list::-webkit-scrollbar {
  display: none;
}
